{% extends "base.html" %}

{% block main_content %}

<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li><a href="{% url 'workflow-detail' app_title %}">{{ entity_title }}</a></li>
  <li class="active">Create Activity</li>
</ol>

{% include "core/widgets/validation.html" with error_messages=error_message %}
{% include "core/widgets/history.html" %}

<h4>Initiate {{ entity_title }}</h4>

<form action="{% url 'create' app_title entity_title identifier %}" method="post" class="form-horizontal">
    {% include 'core/widgets/form.html' %}
</form>
{% endblock %}