{% extends "base.html" %}
{% load core_tags %}

{% block main_content %}

<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li><a href="{% url 'workflow-detail' app_title %}">Workflows</a></li>
  <li class="active">Detail</li>
  <li class="active">{{ object.id }}</li>
</ol>
<form action="{% url 'rollback' app_title entity_title object.id %}" method="POST">
  {% csrf_token %}
  <a data-toggle="modal" href="#confirmation" class="btn btn-danger {% if not object.task.is_active %} disabled {% endif %}" role="button">Delete</a>
  <button type="submit" name="rollback" class="btn btn-warning {% if not object.task.is_rollback_possible %} disabled {% endif %}">Rollback</button>
  <a href="{% url 'update' app_title entity_title object.id %}" class="btn btn-primary" role="button">Update</a>
</form>
{% with object_id=object.id|stringformat:"s" next_action="/"|add:app_title|add:"/"|add:object.title|add:"/Delete/" %}
    {% include "core/widgets/confirmation.html" with message="Are you sure you want to delete?" title="Confirmation" action=next_action|add:object_id %}
{% endwith %}
<br></br>
<h4> {{ object.title }} Detail </h4>
{% include "core/widgets/readonly.html" %}
{% endblock %}