{% extends "base.html" %}
{% load core_tags %}

{% block title %} Index {% endblock %}

{% block main_content %}

<ol class="breadcrumb">
  <li><a href="{% url 'main' %}">Home</a></li>
  <li class="active">{{ entity_title }}</li>
</ol>
<a href="{% url 'create' app_title entity_title %}" class="btn btn-primary" role="button">Create</a>
<h3>{{ entity_title }} List</h3>
{{ message }}
{% if objects %}
<table class="table table-condensed">
	{% entity_preview as entity_instances %}
	<tr>
		{% for name, value in entity_instances.items.0.1.items %}
		<th>{{ name }}</th>
        {% endfor %}
        <th></th>
    </tr>
    {% for instance in entity_instances.items %}
		<tr>
			{% for name, value in instance.1.items %}
				<td>{{ value }}</td>
			{% endfor %}
			<td><a class="btn btn-default btn-xs" href="{% url 'detail' app_title entity_title instance.0 %}">View Detail</a></td>
	    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No objects are available.</p>
{% endif %}
{% endblock %}

