{% extends "base.html" %}
{% load core_tags %}

{% block title %} Workflow {% endblock %}

{% block main_content %}

<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li class="active">{{ app_title }}</li>
</ol>
<a href="{% url 'create' app_title 'FirstActivity' request_identifier %}" class="btn btn-primary" role="button">Create New Workflow</a>
<h3>{{ app_title }}</h3>
{% if instances %}
<table class="table table-bordered">
	<tr>
		<th><span class=" glyphicon glyphicon-menu-hamburger"></span></th>
		<th>ID</th>
		<th>Status</th>
		<th>Requester</th>
		<th>Created</th>
		<th>Last Updated</th>
    </tr>
    {% for instance in instances %}
    {% if not instance.task.status == 'Rolled Back'%}
		<tr class="active">
			<td>
				<button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#req{{instance.task.request.id}}">
					View Tasks <span class="badge">{{ instance.task.request.tasks.count }}</span>
				</button>
			</td>
			<td>{{instance.task.request.id}}</td>
			<td>{{instance.task.request.status}}</td>
			<td>{{instance.task.request.requester.username}}</td>
			<td>{{instance.task.request.creation_date}}</td>
			<td>{{instance.task.request.last_updated}}</td>
	    </tr>
	    {% if instance.task.request.tasks %}
		    <tr id="req{{instance.task.request.id}}" class="collapse">
		    	<td colspan="6">
				    <table class="table table-condensed">
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Assignee</th>
							<th>Date Assigned</th>
							<th>Last Updated</th>
							<th></th>
					    </tr>
					    {% for task in instance.task.request.tasks.all %}
							<tr>
								<td>{{task.id}}</td>
								<td>{{task.status}}</td>
								<td>{{task.assignee.name}}</td>
								<td>{{task.creation_date}}</td>
								<td>{{task.last_updated}}</td>
								{% activity_title task.flow_ref_key app_title as act_title %}
								<td>
									{% activity_identifier task as identifier %}
									<a class="btn btn-primary btn-xs {% if not task.activity %} disabled {% endif %}" href="{% url 'view' app_title act_title identifier %}">View</a>
									<a class="btn btn-primary btn-xs {% if task.activity %} disabled {% endif %}" href="{% url 'create' app_title act_title task.id %}">Create</a>
									<a class="btn btn-primary btn-xs {% if not task.activity or not task.is_active %} disabled {% endif %}" href="{% url 'update' app_title act_title identifier %}">Update</a>
								</td>
						    </tr>
					    {% endfor %}
					</table>
				</td>
			</tr>
		{% else %}
		    <p>No objects are available.</p>
		{% endif %}
	{% endif %}
    {% endfor %}
</table>
{% else %}
    <p>No objects are available.</p>
{% endif %}
{% endblock %}

