{% extends "base.html" %}
{% load core_tags %}

{% block title %} Workflow {% endblock %}

{% block main_content %}

<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li class="active">{{ app_title }}</li>
</ol>
<a href="{% url 'create' app_title 'FirstActivity' 'Initial' %}" class="btn btn-primary" role="button">Create New Workflow</a>
<h3>{{ app_title }}</h3>
{% if objects %}
<table class="table table-bordered">
	<tr>
		<th>id</th>
		<th>status</th>
		<th>created</th>
		<th>updated</th>
		<th>tasks</th>
    </tr>
    {% for activity in objects %}
		<tr data-toggle="collapse" data-target="#demo">
			<td>{{activity.id}}</td>
			<td>{{activity.status}}</td>
			<td>{{activity.creation_date}}</td>
			<td>{{activity.last_updated}}</td>
			<td><span class="badge">{{ activity.request.tasks.count }}</span></td>
	    </tr>
	    {% if activity.request.tasks %}
		    <tr id="demo" class="collapse">
		    	<td colspan="5">
				    <table class="table table-bordered table-hover">
						<tr>
							<th>id</th>
							<th>status</th>
							<th>created</th>
							<th>updated</th>
							<th>action</th>
					    </tr>
					    {% for task in activity.request.tasks.all %}
							<tr>
								<td>{{task.id}}</td>
								<td>{{task.status}}</td>
								<td>{{task.creation_date}}</td>
								<td>{{task.last_updated}}</td>
								<td><a class="btn btn-primary btn-xs" href="{% url 'create' app_title entity_title task.id %}">Start Task</a></td>
						    </tr>
					    {% endfor %}
					</table>
				</td>
			</tr>
		{% else %}
		    <p>No objects are available.</p>
		{% endif %}
    {% endfor %}
</table>
{% else %}
    <p>No objects are available.</p>
{% endif %}
{% endblock %}

