{% load core_tags %}

{% csrf_token %}
{% for field in form %}
<fieldset class="form-group">
    {{ field|label_with_class:"col-sm-2 control-label" }}
    <div class="col-sm-10">
        {{ field }}
    </div>
</fieldset>
{% endfor %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Save" name="save" class="btn btn-success" />
    </div>
</div>
{% if next %}
<div class="panel panel-default">
	<div class="panel-heading">Actions</div>
	<div class="panel-body">
        {% for option in next %}
		  <input type="submit" value={{option}} name="submit" class="btn btn-primary" />
        {% endfor %}
	</div>
</div>
{% endif %}
