{% extends 'base.html' %}
{% load core_tags %}

{% block main_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'main' %}">Home</a></li>
  <li class="active">Search</li>
</ol>
    <h3>Search Results</h3>
        {% if query %}
            <table class="table table-striped">
                <tr>
                    <th>Title<th>
                    <th>Brief Description</th>
                </tr>
                {% for result in page.object_list %}
                {% model_label_for_search result.object as entity_name %}
                    <tr>
                        <td><a href="{% url 'detail' entity_name result.object.id %}">{{ result.object.name }}</a><td>
                        <td></td>
                    </tr>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </table>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}